<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"btn btn-danger btn-sm right") %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path, class:"btn btn-success btn-sm right") %>
  </li>
<% end %>